@import url("fonts.css");

* {
  box-sizing: border-box;
}

:root {
  --font-family: "Deledda", sans-serif;
  --second-family: "Arial", sans-serif;
  --font-color: #fff;
  --background-color: #1a1a1a;
  --primary-color: #f47324;
  --base-font-size: 16px; /* Базовый размер шрифта */
  --border-radius: 1rem;
  --highlight-color: #ed5a00;
}

body {
  font-family: var(--font-family);
  color: var(--font-color);
  background-color: var(--background-color);
  padding: 0;
  width: 100%;
  max-width: 1920px;
  min-width: 380px;
  margin: 0 auto;
  font-size: 1rem;
  overflow-x: hidden;
  zoom: 75%;
}

/* Header */
.site-header {
  background-color: var(--background-color);
  padding: 2vw 1.5vw;
  margin-bottom: 0.5vw;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.8vw;
}

.logo {
  margin-right: 8.3vw;
}

.main-nav {
  flex-grow: 1;
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 4.6vw;
  margin: 0;
  padding: 0;
}

.nav-link,
.cta-button a {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 40px;
  color: var(--font-color);
}

.nav-link:hover,
.cta-button a:hover {
  color: var(--primary-color);
}

.cta-button a {
  border-radius: var(--border-radius);
  padding: 0.5vw 1.9vw;
  background: linear-gradient(90deg, var(--highlight-color) 0%, #873300 100%);
  border: none;
}

.main {
  padding: 0 2.6vw;
}

/* Hero Section */
.hero,
.categories,
.advantages,
.partners {
  background-color: var(--background-color);
}

.hero-content h1,
.hero-content-info,
.stat-item span,
.contact-info,
.order-button {
  font-family: var(--font-family);
  font-weight: 200;
  color: var(--font-color);
}

.order-button {
  background: rgba(237, 90, 0, 0.7);
  border: none;
}

.contact-info {
  display: flex;
  column-gap: 30px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

h2 {
  font-family: var(--font-family);
  font-weight: 600;
  text-align: center;
  color: var(--font-color);
  border: 1px solid var(--highlight-color);
  border-radius: var(--border-radius);
}

/* Section Background Images */
.application-item-1,
.application-item-2,
.application-item-3,
.application-item-4,
.advantage-item-1,
.advantage-item-2,
.advantage-item-3,
.advantage-item-4,
.advantage-item-5 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.advantage-item-1 {
  background-image: url(../assets/images/obl-p-1.png);
}
.advantage-item-2 {
  background-image: url(../assets/images/obl-p-2.png);
}
.advantage-item-3 {
  background-image: url(../assets/images/obl-p-3.png);
}
.advantage-item-4 {
  background-image: url(../assets/images/obl-p-4.png);
}

/* Grid Layout for Advantages */
.advantage-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vw;
}

.advantage-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.8);
  color: var(--font-color);
  padding: 1rem;
  border-radius: var(--border-radius);
  font-size: clamp(1rem, 1.2vw, 1.5rem);
}

.advantage-item-1 {
  flex: 0 0 calc(50% - 1.5vw);
  height: calc(2 * 10vw + 1.5vw);
}

.advantage-item-2,
.advantage-item-3,
.advantage-item-4 {
  flex: 0 0 calc(16.66% - 1.5vw);
  height: 10vw;
}

.advantage-item-5 {
  flex: 0 0 100%;
  height: 10vw;
}

/* Partners Section */
.partners h2 {
  width: 46vw;
  margin-bottom: 5vw;
}

.partner-logos {
  display: flex;
  justify-content: center;
  gap: 1.5vw;
}

.partner-logos img {
  max-width: 7.5vw;
}

/* Footer */
.site-footer {
  display: flex;
  justify-content: space-between;
  padding: 1vw 60px;
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: clamp(0.8rem, 1rem, 1.2rem);
}

.icon-footer-wrap {
  display: flex;
  column-gap: 30px;
}

/* Media Queries for Mobile */
@media (max-width: 500px) {
  .site-header,
  .hero,
  .container-hero,
  .categories,
  .applications,
  .advantages {
    padding: 10px;
  }

  .logo img {
    width: 59px;
    height: 26px;
  }

  .nav-list {
    justify-content: center;
  }

  .cta-button a {
    font-size: 14px;
    padding: 5px 10px;
  }

  .contact-info,
  .hero-content-info,
  .order-button {
    font-size: 14px;
  }

  .order-button {
    width: 171px;
    height: 30px;
    border-radius: 7px;
    background: linear-gradient(
      90deg,
      rgba(237, 90, 0, 0.7) 0%,
      rgba(135, 51, 0, 0.7) 100%
    );
  }

  .categories h2,
  .applications h2,
  .advantages h2 {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .application-item,
  .advantage-item {
    width: 239px;
    height: 52px;
    font-size: 10px;
    margin-right: 15px;
  }

  .swiper-container {
    width: 100%;
    overflow: hidden;
  }
}

@media (min-width: 501px) and (max-width: 1920px) {
  .swiper-container {
    display: flex;
    justify-content: space-between;
  }

  .swiper-slide {
    flex: 1 1 calc(33.33% - 15px);
  }
}
