@import url("fonts.css");

* {
  box-sizing: border-box;
}

:root {
  --font-family: "Deledda", sans-serif;
  --font-color: #fff;
  --background-color: #1a1a1a;
  --primary-color: #f47324;
}

body {
  font-family: var(--font-family);
  color: var(--font-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  width: 1920px;
}

/* Header */
.site-header {
  background-color: var(--background-color);
  padding: 40px 30px;
  margin-bottom: 10px;
}

.container-header {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
}

.logo {
  margin-right: 160px;
}

.logo img {
}
.main-nav {
  flex-grow: 1;
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.nav-link {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 40px;
  color: #fff;
}

.nav-link:hover {
  color: var(--primary-color);
}

.cta-button button {
  border-radius: 20px;
  padding: 10px 36px;
  width: 349px;
  height: 63px;
  background: rgba(237, 90, 0, 0.7);
  border: none;

  font-family: var(--font-family);
  font-weight: 200;
  font-size: 40px;
  color: #fff;
}

.main {
  padding: 0 50px;
}

/* Hero Section */
.hero {
  margin-bottom: 125px;
  background-color: var(--background-color);
}

.container-hero {
  padding-left: 100px;
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 1200px;
}

.hero-content h1 {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 80px;
  color: #ed5a00;
  margin-bottom: 15px;
}

.hero-content-info {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 60px;
  color: #fff;
  margin-bottom: 72px;
}

.order-button {
  border-radius: 20px;
  padding: 17px 30px;
  width: 426px;
  height: 97px;
  background: rgba(237, 90, 0, 0.7);
  border: none;
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 60px;
  letter-spacing: -0.03em;
  color: #fff;
}

.hero-stats {
  display: flex;
  justify-content: space-between;
  column-gap: 122px;
  margin-top: 20px;
}

.stat-item {
  text-align: center;
}

.stat-item span {
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 90px;
  color: #fff;
}

.stat-item p {
  font-size: 30px;
}

.contact-info {
  display: flex;
  margin-bottom: 25px;
  column-gap: 48px;
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 25px;
  color: #fff;
}

/* Categories Section */
.categories {
  padding: 60px 35px;
  background: #333;
  border-radius: 120px 120px 0 0;
}

.categories h2 {
  border: 1px solid #ed5a00;
  border-radius: 20px;
  padding: 20px 10px;
  width: 771px;
  height: 130px;
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 80px;
  text-align: center;
  color: #fff;
  margin-bottom: 99px;
}

.category-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.category-item {
  flex: 1 1 calc(33.33% - 30px);
  padding: 20px;
  border-radius: 20px 20px 20px 0;
  text-align: center;
  background: rgba(41, 40, 40, 0.6);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-item p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 20px;
}

/* Applications Section */
.applications {
  padding: 60px 35px;
  background-color: var(--background-color);
}

.applications h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.application-flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.application-item {
  background-color: #333;
  flex: 1 1 calc(25% - 30px);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: var(--font-color);
}

/* Advantages Section */
.advantages {
  padding: 60px 35px;
  background-color: var(--background-color);
}

.advantages h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.advantage-flex {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.advantage-item {
  background-color: #333;
  flex: 1 1 calc(20% - 30px);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: var(--font-color);
}

/* Partners Section */
.partners {
  padding: 60px 35px;
  background-color: var(--background-color);
}

.partners h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

.partner-logos {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.partner-logos img {
  max-width: 150px;
}

/* Footer */
.site-footer {
  padding: 20px 0;
  text-align: center;
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: 18px;
}
